 #yo {
     height: 250px;
     border-style: solid;
     border-color: grey;
 }
 
 #seccion-superior-gris {
     background-color: #f6f6f6;
     min-height: 120px;
 }
 
 #frase {
     text-align: right;
 }
 
 #fondo-morado {
     background-color: #604B55;
     min-height: 800px;
 }
 
 #about {
     position: absolute;
     top: 180px;
     right: 50px;
     width: 200px;
     height: 100px;
     min-height: 400px;
 }
 
 #seccion-superior {
     padding: 50px;
 }
 
 h1 {
     color: black;
 }
 
 #about-gris {
     background-color: grey;
     color: honeydew
 }
 
 #texto-about {
     background-color: honeydew;
 }

 