     header {
         background-color: #B3B3B3;
     }
     
     #texto {
         background-color: #CCCCCC;
     }
     
     #amarillo {
         background-color: #FFFE9B;
     }
     /*   @media only screen and (max-width:480px) {
         #PC,
         #Tablet {
             display: none;
         }
     }
     
     @media only screen and (min-width:481px) {}
     
     @media only screen and (min-width:1024px) {}*/